
<!------Top Navbar------>

<nav class="navbar navbar-fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="navbar-brand float-left">
      <a routerLink="/user/{{uId}}" class="navbar-brand text-white">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="text-white navbar-brand cl-text-bold" href="#">
        Websites
      </a>
    </div>
    <a routerLink="/user/{{uId}}/website/new" class="navbar-brand navbar-text pull-right text-white cl-icon-padding">
      <i class="fas fa-plus fontawsome_icon"></i>
    </a>
  </div>
</nav>

'
<div class="container above-below-space">
  <ul *ngFor="let website of websites" class="list-group list-group-flush">
    <li class="list-group-item">
      <a routerLink="/user/{{userId}}/website/{{website._id}}">
        <i class="fas fa-cog fontawsome_icon float-right"></i></a>
      <a routerLink="/user/{{userId}}/website/{{website._id}}/page">{{website.name}}</a>
    </li>
  </ul>
</div>

<!------Bottom Navbar------>

<nav class="navbar fixed-bottom float-right col-12">
  <div class="container col-12">
    <div class="row navbar-text float-right col-12">
      <a routerLink="/user/{{uId}}" class="float-right">
        <i class="fas fa-user fontawsome_icon float-right text-white col-12"></i>
      </a>
    </div>
  </div>
</nav>
