<!----Top navbar--->
<nav class="navbar navbar-default navbar-light bg-light navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="user/:uId/website/:wId/page/:pId/widget" class="text-black icon-padding">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand text-black font-weight-bold pl-2" href="./">
        Widgets Edit
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a (click)="updateWidget()" class="cl-icon-padding text-black">
        <i class="fas fa-check fontawsome_icon"></i>
      </a>
    </div>
  </div>
</nav>


<div class="container">
  <form>
    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        class="form-control"
        name="widgetName"
        placeholder="Widget Name"
        [(ngModel)]="widget.name">
    </div>
    <div class="form-group">
      <label>Text</label>
      <input
        type="text"
        class="form-control"
        name="widgetText"
        placeholder="Widget Text"
        [(ngModel)]="widget.text">
    </div>
    <div class="form-group">
      <label>URL</label>
      <input
        type="url"
        class="form-control"
        name="widgetURL"
        placeholder="Widget URL"
        [(ngModel)]="widget.url">
    </div>
    <div class="form-group">
      <label>Width</label>
      <input
        type="text"
        class="form-control"
        name="widgetWidth"
        placeholder="Widget Width"
        [(ngModel)]="widget.width">
    </div>
    <div class="form-group">
      <button class="btn btn-danger btn-block" (click)="deleteWidget()">Delete</button>
    </div>
  </form>
</div>




<!---- Bottom Navbar ----->
<nav class="navbar navbar-default navbar-light bg-light fixed-bottom">
  <div class="float-left"> </div>
  <div class="float-right">
    <a routerLink="/user/{{uid}}"><i class="fas fa-user fontawsome_icon float-right"></i></a>
  </div>
</nav>
