<nav class="navbar navbar-default navbar-light bg-light navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="user/{{uid}}/website/{{wid}}/page/{{pid}}/widget" class="text-black icon-padding">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand text-black font-weight-bold pl-2" href="./">
        Choose Widget
      </a>
    </div>
  </div>
</nav>


<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless cl-text-blue" >
      <a  routerLink= './header'>Header</a>
    </li>
    <li class="list-group-item cl-list-item-borderless cl-text-blue" >
      <a routerLink= './image' >Image</a>
    </li>
    <li class="list-group-item cl-list-item-borderless cl-text-blue">
      <a routerLink= './youtube'>YouTube</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default navbar-light bg-light fixed-bottom">
  <div class="float-left"> </div>
  <div class="float-right">
    <a routerLink="/user/{{uid}}">
    <i class="fas fa-user fontawsome_icon float-right "></i>
    </a>
  </div>
</nav>
