<nav class="navbar navbar-fixed-top cl-blue-navbar">
  <div class="col-md-4 d-none d-md-block container-fluid">
    <a routerLink="/user/{{uid}}" class="navbar-link text-white">
      <i class="fas fa-chevron-left fontawsome_icon"></i>
    </a>
    <a class="text-white navbar-brand font-weight-bold" routerLink="/user/{{uid}}/website">
      Websites
    </a>


    <a routerLink="./" class="navbar-link navbar-text float-right text-white cl-icon-padding">
      <i class="fas fa-plus fontawsome_icon"></i>
    </a>


  </div>
  <div class="col-md-8 container-fluid">
    <a class="text-white navbar-brand font-weight-bold" routerLink="">
      New Website
    </a>
    <a (click)="create()" routerLink="/user/{{uid}}/website"
       class="navbar-link navbar-text float-right text-white cl-icon-padding">
      <i class="fas fa-check fontawsome_icon"></i>
    </a>
  </div>
</nav>

<div class="row container-fluid pt-2">
  <div class="col-md-4 d-none d-md-block border-right">
    <ul class="list-group cl-list-group-borderless">
     <li class="list-group-item list-borderless" *ngFor="let website of websites">
       <a routerLink="/user/{{uid}}/website/{{website._id}}/page">{{website.name}}</a>
       <a routerLink="/user/{{uid}}/website/{{website._id}}"><i class="fas fa-cog fontawsome_icon float-right"></i> </a>
     </li>
    </ul>
  </div>


  <div class="col-sm-8 right-content">
    <div class="text-padding-top">
      <label for="website-name" class="text-bold">Name</label>
      <input id="website-name" type="text" class="form-control" placeholder="Name" [(ngModel)]="name"/>
    </div>
    <div class="text-padding-top">
      <label for="web-description" class="text-bold">Description</label>
      <textarea id="web-description" class="form-control" rows="5" placeholder="Description" [(ngModel)]="description"></textarea>
    </div>
  </div>

<nav class="navbar fixed-bottom float-right col-12">
  <div class="container-fluid col-12">
    <div class="row navbar-text float-right col-12">
      <a routerLink="/user/{{uid}}" class="float-right">
        <i class="fas fa-user fontawsome_icon float-right text-white col-12"></i>
      </a>
    </div>
  </div>
</nav>
