
<nav class="navbar navbar-default navbar-light bg-light navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text float-left">
      <a routerLink="/user/{{uId}}/website/{{wId}}/page" class="text-black icon-padding">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand text-black font-weight-bold pl-2" routerLink="">
        New Page
      </a>
    </div>
    <div class="navbar-text float-right">
      <a routerLink="/user/{{uId}}/website/{{wId}}/page" class="icon-padding text-black">
        <i class="fas fa-plus fontawsome_icon"></i>
      </a>
    </div>
  </div>
</nav>


<div class="container small-padding">
  <form>
    <div class="form-group">
      <label for="page-name">Name</label>
      <input type="text" class="form-control" id="page-name" placeholder="Page Name">
    </div>
    <div class="form-group">
      <label for="page-title">Title</label>
      <input type="text" class="form-control" id="page-title" placeholder="Page Title">
    </div>
  </form>
</div>


<!----Bottom navbar (grey)------>
<nav class="navbar fixed-bottom float-right col-12  bg-light">
  <div class="container col-12">
    <div class="row navbar-text float-right col-12">
      <a routerLink="/user/{{uId}}" class="float-right">
        <i class="fas fa-user fontawsome_icon float-right col-12"></i>
      </a>
    </div>
  </div>



</nav>
